*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
section{
    margin-top: 130px;
}
.primary-color{
    color: #FD6E0A;
}
.btn-primary{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border: 0px;
    padding: 18px 35px;
    border-radius: 5px;
    background-color: #FD6E0A;

}
.btn-secondary{
    color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border: 1px solid #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FFF8F3;
    margin-left: 30px;

}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* header and navigation style */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav{
    display:flex;
    justify-content: space-between;
    padding: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
/* bannar styles */
.bannar{
    display: flex;
    align-items: center;
    margin: 0px 200px;
}
.bannar-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.bannar-title{
    font-weight: 700;
    font-size: 85px;
}
.bannar-discription{
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
    width: 585px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0px auto;
}
/* about section styles*/
.about{
    /* margin: 0px 386px; */
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 156px;
    text-align: center;
}
.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.section-description{
    text-align: center;
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-title{
    font-size: 20px;
    color: #757575;

}
.about-info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
/* what i do section style */
.what-i-do{
    text-align: center;
}

.what-i-do-description{
    /* max-width: 909px; */
    padding: auto;
    text-align: center;
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin: 30px 115px 50px 115px;

}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skills-container{
    display: flex;
    gap: 24px;
    text-align: left;
}
.skill img{
    text-align: left;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
/* summary-of-resume section */
.resume-section-title{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin: 130px auto 113px auto;
}
.resume-contant{
    display: flex;
    gap: 24px;

}
.resume-title{

}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px     ;

}
.resume-dgree{
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}
.resume-university{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume-description{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}
.myeducation{
    font-weight: 700;
    font-size: 30px;
}
.myexperience{
    font-weight: 700;
    font-size: 30px;
}
.resume-btn{
    margin-top: 50px;
    text-align: center;
}
/* contact section */
footer{
    background-color: #FFF8F3;
}
/* .contact{
    max-width: 1140px;
    margin: 113px 230px;
    display: flex;
    gap: 117px;
    padding: 130px 230px;

} */
.contact{
    /* max-width: 1140px; */
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contact a{
    text-decoration: none;
    margin-right: 24px;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0px;
    width: 100%;
    padding: 18px 30px;}

input{
    height: 64px;}

.contact-section-title{
    color: #181818;
    text-align: left;
    font-weight: 700;
    font-size: 35px;
}

.connect-description{
    color: #474747;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;

}

footer .contact{
    max-width: 1140px;
    margin: 0px 200px;
}
footer{margin-top: 113px;
}
.lets-message-me{
    margin-bottom: 28px;
}
.hide{
    display: none;
}
/* media styles */
@media screen and (max-width:576px){
    .header{
        background-image: none;
    }
    nav,
    .skills-container, 
    .resume-contant, 
    .about-info-container, 
    .bannar {
        flex-direction: column;
        gap: 20px;
        padding: 0px 20px;
      
    }
    .nav-title{
        text-align: center;
    }

    nav ul{
        flex-direction: column;
        gap: 20px;
        margin-left: 0px;
        padding: 0px;
    }
    nav li{
        margin-left: 0px;
    }
    .bannar-discription{
        width: 100%;
    }
    .bannar{
        text-align: center;
        margin: 0px 20px;
    }
    .bannar img{
        width: 100%;
    }
    .btn-secondary{
        margin-top: 25px;
    }
    .about{
        padding: 130px 65px;
        margin: 0px;
    }
    footer .contact{
        flex-direction: column;
        gap: 20px;
        padding: 130px 20px;
        margin: 0px;
    }
    .contact input[type="text"], input[type="email"], textarea {
        padding: 0px 0px 0px 5px;
    }

}
@media screen and (min-width:577px) and (max-width:992px){
    .about{
        padding: 130px 65px;
        margin: 0px;
    }
    .summary-of-resume{
        margin-left: 20px;
    }
    footer .contact{
        flex-direction: column;
        gap: 20px;
        padding: 130px 20px;
        margin: 0px;
    }
    .contact input[type="text"], input[type="email"], textarea {
        padding: 0px 0px 0px 5px;
    }
}
